input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

input::placeholder {
    color: #aaa;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #0056b3;
}

div {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input.valid {
    border-color: green;
}

input.invalid {
    border-color: red;
}


#error-text {
    color: red;
    font-size: 14px;
    visibility: hidden;
}

#error-text.visible {
    visibility: visible;
}

span {
    color: green;
}