.colorChanger {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

#Red {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #fa0303;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Blue {
    padding: 10px 15px;
    font-size: 16px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#Green {
    padding: 10px 15px;
    font-size: 16px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}